<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>var host = "<%= host %>";</script>
  <%- css('bootstrap') %>
  <%- css('application') %>
  <%- js('application') %>
</head>
<body>
  <div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
      <a href="https://github.com/johanneswuerbach/request-inspect">Fork me on GitHub</a>
    </div>
  </div>

  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">request-inspect</a>
        <ul class="nav">
          <li class="active"><a href="/">Inspector</a></li>
          <li><a href="/">New session</a></li>
          <li><a href="https://github.com/johanneswuerbach/request-inspect/issues">Issues</a></li>
          <!-- <li><a href="http://johanneswuerbach.net">Homepage</a></li> -->
        </ul>
      </div>
    </div>
    <div class="row requests">
    </div>
  </div>
  <script id="ready" type="text/x-handlebars-template">
    <div class="span12">
      <h4>Usage</h4>
      <h5>Empty response</h5>
      <p>Your requests to <code>{{url}}</code>, will be displayed here.</p>
      <h5>Plain response</h5>
      <p>Send your request to <code>{{url}}/plain/YOUR_RESPONSE</code> and the response will be <code>YOUR_RESPONSE</code>.</p>
      <h5>JSON response</h5>
      <p>Send your request to <code>{{url}}/json/ENCODED_JSON</code> and the response will be <code>JSON</code>.</p>
      <h5>Share the results</h5>
      <p>To share the printed requests, just share the URL in your location bar.</p>
      <h4>Examples</h4>
      <h5>POSTing some data with curl</h5>
      <pre>&gt; curl* -d "hello=world" {{url}}
HTTP/1.1 200 OK
Content-Type: text/html; charset=utf-8
Content-Length: 0</pre>
      <h5>GETing with a specified plain response</h5>
      <pre>&gt; curl* {{url}}/plain/some%20text
HTTP/1.1 200 OK
Content-Type: text/html; charset=utf-8
Content-Length: 9

some text</pre>
      <h5>GETing with a specified JSON response</h5>
      <pre>&gt; curl* {{url}}/json/%7B%22json%22%3A%20%22test%22%7D
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
Content-Length: 20

{
  "json": "test"
}</pre>
      * curl used with <code>-D /dev/stdout -o /dev/stdout -s</code>.
    </div>
  </script>
  <script id="request" type="text/x-handlebars-template">
    <div class="span12">
      <h4>Request</h4>
      <table class="table table-striped">
        <tr>
          <td>Request Method</td>
          <td>{{request.method}}</td>
        </tr>
      </table>
      {{#if request.headers}}
      <h5>Request Headers</h5>
      <table class="table table-striped">
        {{#each request.headers}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.value}}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
      {{#if request.query}}
      <h5>Query String Parameters</h5>
      <table class="table table-striped">
        {{#each request.query}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.value}}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
      {{#if request.body}}
      <h5>Body</h5>
      <pre>{{request.body}}</pre>
      {{/if}}
      </p>
      <hr />
    </div>
  </script>
</body>
</html>
